<div class="text-center">
  <h1>Information about <%= @task.name %></h1>

  <p>Description: <%= @task.description %></p>

  <div class="btn btn-primary"><%= link_to 'Home', tasks_path %></div>
</div>
